section {
  flex-direction: column;
}

label {
  display: block;
  padding: 20px;
  font-size: 30px;
}

input {
  margin: 10px;
  padding: 10px;
}

.header,
.output {
  text-align: center;
  font-size: 60px;
  padding: 20px;
  /* border: 2px solid red; */
}

button {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.output {
  font-size: 40px;
}
