section {
  flex-direction: column;
}

label {
  display: block;
  padding: 20px;
}

input {
  margin: 10px;
  padding: 10px;
}

.header {
  background-color: purple;
  color: white;
  margin-bottom: 20px;
}

.header,
.output {
  text-align: center;
  padding: 20px;
  /* border: 2px solid red; */
}

button {
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .header,
  .output {
    font-size: 35px;
  }
  label {
    font-size: 20xpx;
  }
  .output {
    font-size: 30px;
  }
}

@media only screen and (min-width: 500px) {
  .header,
  .output {
    font-size: 60px;
  }
  label {
    font-size: 30px;
  }
  .output {
    font-size: 40px;
  }
}
