* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px;
  font-size: 4rem;
  text-align: center;
}

section {
  width: 80%;
  margin: 0 auto;
  border: 3px solid green;
}

div img {
  width: 30%;
  margin: 2px;
}

div {
  width: 100%;
  border: 3px solid blue;
  display: flex;
  padding: 20px;
}
