* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px;
  text-align: center;
  background: rgb(246, 168, 43);
  color: rgb(239, 239, 247);
}

section {
  width: 80%;
  margin: 0 auto;
  /* border: 3px solid green; */
}

.image-div {
  width: 30%;
}

.sub-section {
  width: 100%;
  /* border: 3px solid grey; */
  background: rgb(226, 223, 223);
  margin: 40px 0;
  display: flex;
  padding: 35px 20px;
  border-radius: 5px;
}

.sub-section:hover {
  background-color: rgb(198, 195, 195);
}

.dimension {
  width: 70%;
  padding: 20px;
}

.dimension:visited {
  color: none;
}

@media only screen and (max-width: 600px) {
  .dimension {
    font-size: 20px;
  }
  .header {
    font-size: 2rem;
  }
  .image-div img {
    width: 99%;
  }
  #area {
    width: 99%;
    height: 110px;
  }
}

@media only screen and (max-width: 750px) and (min-width: 600px) {
  .dimension {
    font-size: 40px;
  }
  .header {
    font-size: 3rem;
  }
  .image-div img {
    width: 95%;
  }
  #area {
    width: 95%;
    height: 150px;
  }
}

@media only screen and (min-width: 750px) {
  .dimension {
    font-size: 50px;
  }
  .header {
    font-size: 4rem;
  }
  .image-div img {
    width: 80%;
  }
  #area {
    width: 80%;
    height: 170px;
  }
}
